@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    background-color: #E1EFF2;
    font-family: 'Noto Sans JP';
}

#header {
    text-align: center;
    padding: 0.5em 0px 0px 0px;
}

#title {
    display: inline-block;
    _display: inline;
    font-size: 24px;
    font-weight: bold;
    text-anchor: middle;
    margin: auto;
}

.blank {
    padding: 10px 0px 0px 0px
}

#history {
    text-align: center;
    margin: 2em;
}

.history_char {
    width: min(60px, calc(1em + 3vw));
    aspect-ratio: 1;
    border: 0.15em solid #AEC5E8;
    font-size: min(36px, calc(0.5em + 3vw));
    text-align: center;
    margin: 0.5%;
    padding: 0px 0px;
    border-radius: 100%;
    line-height: 1em;
}

#keyboard {
    max-width: 600px;
    margin: 0 auto;
}

.key_head {
    width: 19%;
    aspect-ratio: 2;
    font-size: min(4vw, 30px);
    padding: 2px;
    margin: 0.5%;
    border-radius: min(2vw, 15px);
    cursor: pointer;
}

.key_bt {
    width: 9%;
    aspect-ratio: 1;
    font-size: min(4vw, 30px);
    padding: 2px;
    margin: 0.5%;
    border-radius: min(2vw, 15px);
    cursor: pointer;
}

.jg_y {
    background: #FFFFFF;
}

.jg_y:hover {
    background: #EFEFEF;
}

.jg_h {
    background: #A7D28D;
}

.jg_h:hover {
    background: #97C27D;
}

.jg_b {
    background: #FCC948;
}

.jg_b:hover {
    background: #ECB938;
}

.jg_w {
    color: #FFFFFF;
    background: #808080;
}

.jg_w:hover {
    color: #FFFFFF;
    background: #707070;
}

#roomProperty {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: calc(50% - 200px);
}

#roomID {
    display: inline-block;
}

#roomNum {
    display: inline-block;
}

#userName {
    position: absolute;
    top: 10px;
    right: 10px;
}

.propertyBlank {
    margin:8px 0px 0px 0px
}
