<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale =1">
    <title>ことのはたんごish</title>
    <link rel="icon" href="static/img/icon.png">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/js/tangoish.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <div id="header">
        <div id="header-left"></div>
        <div id="title">ことのはたんごish</div>
        <div id="header-right"></div>
    </div>
    <div id="history"></div>
    <input type="hidden" id="input_data">
    <div id="keyboard"></div>
    <br><br>------------------------------<br><br>
    <div id="t1"></div>
    <div id="t2"></div>
    roaded time : {{ time }} <br>
    {{ ip }}
    input : <div id="input" style="display: inline-block; _display: inline;"></div>
    <br>
    return :
    <div id="response"></div>
    <div id="result"></div>
</body>
</html>
