<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ことのはたんごish</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/guess.js"></script>
</head>

<body>
    <div id="t1"></div>
    <div id="t2"></div>
    roaded time : {{ time }} <br>
    {{ ip }}
    <br><br>------------------------------<br><br>
    <input type="text" id="input_data">
    <button type="button" onclick="submit()">Submit</button>
    <br><br>------------------------------<br><br>
    input : <div id="input" style="display: inline-block; _display: inline;"></div>
    <br>
    return :
    <div id="result"></div>

</body>
</html>
